@font-face{
  font-family: Work-Sans-Bold;
  src:url(./assets/fonts/static/WorkSans-Bold.ttf)
}

@font-face{
  font-family: Work-Sans-Regular;
  src:url(./assets/fonts/static/WorkSans-Regular.ttf)
}

@font-face{
  font-family: Work-Sans-SemiBold;
  src:url(./assets/fonts/static/WorkSans-SemiBold.ttf)
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family:  Work-Sans-Regular, sans-serif;

}