@font-face{
  font-family: Work-Sans-Bold;
  src:url(./assets/fonts/static/WorkSans-Bold.ttf)
}

@font-face{
  font-family: Work-Sans-Regular;
  src:url(./assets/fonts/static/WorkSans-Regular.ttf)
}

@font-face{
  font-family: Work-Sans-SemiBold;
  src:url(./assets/fonts/static/WorkSans-SemiBold.ttf)
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

header{
  min-height: 35dvh;
  min-width: 200px;
  background: hsl(292, 42%, 14%) url(assets/images/background-pattern-desktop.svg) no-repeat ;
}



main{
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
  padding: 40px;
  border-radius: 16px;
  /* max-width: 45dvw; */
  top: 20%;
  left: 30vw;

  display: grid;
  gap: 10px;
}

main .faqHeader{
  font-family:  Work-Sans-Bold, sans-serif;
  display: flex;
  gap: 16px;
  padding: 10px 0 30px 0;
  color: hsl(292, 42%, 14%);
}

main > button{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  cursor: pointer;
  
  font-family:  Work-Sans-SemiBold, sans-serif;
  font-size: 18px;

}

main > div {
  display: none;
  font-family:  Work-Sans-Regular, sans-serif;
  font-size: 16px;
  color: hsl(275, 100%, 87%);
}



main > button:hover{
  color: #AD28EB;
}



footer{
  min-height: 65dvh;
  background-color: hsl(275, 100%, 97%);
  display: grid;
}
footer .attribution{
  font-family:  Work-Sans-Regular, sans-serif;
  place-self: end center;
  padding: 0 0 20px 0;
}